<div class="row">
    <div class="col-12 mt-2">
      <h3>Criar novo produto</h3>
      <form [formGroup]="form">
        <div class="mt-4 mb-4">
          <div class="col">
            <label>Nome do Produto</label>
            <input
              type="text"
              class="form-control"
              name="inputNovoProduto"
              formControlName="novoProduto"
            />
          </div>
          <div class="col mt-3">
            <label>Descrição do Produto</label>
            <input
              type="text"
              class="form-control"
              name="inputDetalhesDoProduto"
              formControlName="descricaoNovoProduto"
            />
          </div>
        </div>
      </form>
      <br />
  
      <button class="btn btn-primary" (click)="criarProduto()">
        Criar produto
      </button>
    </div>
  </div>
